.image img{
	width:100%;
	height: 360px;
	object-fit: normal;
	transition: all 2s ease-in-out;
	border: 5px outset black;
}
.header{
	background: radial-gradient(circle, black, white);
	border: 5px outset red;
}
.header h2{
	font-weight: bold;
	font-size: 40px;
    color: red;
    text-shadow: 0 0 3px #FF0000;
}
img:hover{
	transform: rotate(360deg);
	
}
.footer{
	background: black;
	border: 5px outset red;
}
body{
    background: linear-gradient(black, white);
}